.featured-content {
    height: 60vh;
    padding: 100px;
    display: flex;
}

.movie-image{
    height:100%;
}

.featured-title {
    width: 600px;
    font-size: 4rem;
}

.featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
    font-size: large;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
}

.featured-button {
    background-color: crimson;
    color: white;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.featured-button:hover {
    background-color: darkred;
}

.featured-button.rent{
    margin: 0px 20px;
}